body {
  font-family: arial, Helvetica, san-serif;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.75);
}

#tabs-m {
  margin: 0 auto;
}

#tabs1 {
  /*background-color: rgba(255,255,255,0.75);*/
  /*border-radius: 10px;*/
}

#logo {
  max-width: 40px;
}

.fa.fa-warning {
  color: rgb(34,115,200);
}

#j2 {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255,255,255,0.75);
  max-width: 400px;
  margin: 0 auto;
}

#j1 {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255,255,255,0.75);
  max-width: 750px;
  margin: 0 auto;
}

#in {
  color: rgb(74,175,234);
  width: 200px;
}

@media (max-width: 576px) {
  #in {
    color: rgb(74,175,234);
    width: 100px;
  }
}

#c1 {
  margin: 10px;
}

#t1 {
  font-size: 20px;
}

#t2 {
  font-size: 15px;
}

#j3 {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255,255,255,0.75);
  max-width: 750px;
  margin: 0 auto;
  margin-top: 10px;
}

@media (min-width: 576px) {
  #Main {
    padding: 20px;
  }
}

@media (min-width: 576px) {
  #Main .jumbotron {
    padding: 20px;
  }
}

#l1, #l2, #l3 {
  border-radius: 10px;
}

@media (max-width: 578px) {
  .nav #l1, #l2, #l3 {
    padding-left: 20px;
  }
}

#Main1 {
  padding-top: 20px;
}

#Main2 {
  background-color: rgba(230,250,255,1);
  padding: 40px 20px 40px 20px;
  margin-bottom: 20px;
}

#Main2 p {
  color: rgba(0,0,0,0.5);
}

#Main2 .fa {
  font-size: 40px;
  color: rgb(34,115,200);
}

#Main3 {
  background-color: rgba(0,0,0,0.5);
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: rgb(255,255,255);
  background-color: rgb(74,175,234);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0,0,0,0.8);
}

