<head>
<meta charset="UTF-8">
<title>Log In</title>

<link rel="stylesheet" href="style.css" />

</head>

<body>
<form>

	<h2>Admin Login</h2>

	<input type="text" id="username" name="username" class="text-field" placeholder="Username" />
    <input type="password" id="password" name="password" class="text-field" placeholder="Password" />
    
  <input type="button"  onclick="javascript:myFunc()" class="button" value="Log In" />


</form>


<script type="text/javascript">
	      var ALERT_TITLE = "Oops!";
var ALERT_BUTTON_TEXT = "Ok";



function createCustomAlert(txt) {
    d = document;

    if(d.getElementById("modalContainer")) return;

    mObj = d.getElementsByTagName("body")[0].appendChild(d.createElement("div"));
    mObj.id = "modalContainer";
    mObj.style.height = d.documentElement.scrollHeight + "px";

    alertObj = mObj.appendChild(d.createElement("div"));
    alertObj.id = "alertBox";
    if(d.all && !window.opera) alertObj.style.top = document.documentElement.scrollTop + "px";
    alertObj.style.left = (d.documentElement.scrollWidth - alertObj.offsetWidth)/2 + "px";
    alertObj.style.visiblity="visible";

    h1 = alertObj.appendChild(d.createElement("h1"));
    h1.appendChild(d.createTextNode(ALERT_TITLE));

    msg = alertObj.appendChild(d.createElement("p"));
    //msg.appendChild(d.createTextNode(txt));
    msg.innerHTML = txt;

    btn = alertObj.appendChild(d.createElement("a"));
    btn.id = "closeBtn";
    btn.appendChild(d.createTextNode(ALERT_BUTTON_TEXT));
    btn.href = "#";
    btn.focus();
    btn.onclick = function() { removeCustomAlert();return false; }

    alertObj.style.display = "block";

}

function removeCustomAlert() {
    document.getElementsByTagName("body")[0].removeChild(document.getElementById("modalContainer"));
}
    
	function myFunc() {
    	username = document.getElementById("username").value;
    	password = document.getElementById("password").value;
    	if(username == "admin" && password=="admin"){
    		//alert("You have successfully Login");
    		createCustomAlert("You have successfully login");
    	}
    	else{
    		createCustomAlert("Something Went Wrong!!!");
    	}
         }

</script>

</body>