{% load static %}
<!doctype html>
<html>
	
	<head>
	   <meta charset="utf-8">
	   <title>
	       {% block title %}
	       {{ page_title|default:"Untitled Page" }}
	       {% endblock title %}
	   </title>
	   <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
	</head>
	
	<body>
	   <div id="wrapper">
	       <header id="header">
	           <div id="logo"><img src="{% static 'logo.png' %}" alt="" width="100px" height="100px" /></div>
	           <div id="top_menu">Home | Calendar | About | Contact</div>
	            <a href="/contact">Contact Us</a>
	           <div id="topbanner"><img src="{% static 'top_banner.jpg' %}" alt="" width="800px" height="100px" /></div>

	       </header>
	       <aside id="rightsidebar">
	           <nav id="nav">
	               <ul>
	                   <li><a href="/add_venue">Add Your Venue</a></li>
	                   <li>Menu 2</li>
	                   <li>Menu 3</li>
	               </ul>
	           </nav>
	       </aside>
	       <section id="main">
	           {% block content %}
	           <p>Placeholder text in base template. Replace with page content.</p>
	           {% endblock content %}
	       </section>
	       <footer id="footer">Copyright &copy;
	           <script type="text/JavaScript">
	               document.write(new Date().getFullYear());                    
	           </script> MyClub
	       </footer>
	    </div>
	</body>

</html>