{% load static %}
<!doctype html>
<html>
	
	<head>
	   <meta charset="utf-8">
	   <title>
	       {% block title %}
	       {{ page_title|default:"Untitled Page" }}
	       {% endblock title %}
	   </title>
	   <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
	</head>
	
	<body>
	   <div id="wrapper">
	      
	       <aside id="rightsidebar">
	           <nav id="nav">
	               <ul>
	                   <li><a href="/add_temperature/">Add temperature</a></li>
	                   <li><a href="/get_temperature/">Show temperature</a></li>
	                   <li><a href="/get_temperature_for_country/">Show temperature for a country</a></li>
	                   <li><a href="/get_temperature_by_year_range/">Show temperature for year range</a></li>
	                   <li><a href="/delete_temperature/">Delete temperature</a></li>
	                   <li><a href="/update_temperature/">Update temperature</a></li>
	               </ul>
	           </nav>
	       </aside>
	       <section id="main">
	           {% block content %}
	           <p>Placeholder text in base template. Replace with page content.</p>
	           {% endblock content %}
	       </section>
	       <footer id="footer">Copyright &copy;
	           <script type="text/JavaScript">
	               document.write(new Date().getFullYear());                    
	           </script> MyClub
	       </footer>
	    </div>
	</body>

</html>