{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Climate</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand text-primary" href="#"><img src="{% static 'img/FocusArea__Climate.jpg' %}" id="logo">&nbsp; Climate SOL</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/app/" id="l1">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/login/" id="l2">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/charts/" id="l3">Charts</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div id="Main">
        <div class="jumbotron" id="j1">
            <h1>Line Chart</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="t2">Year</td>
                            <td>
                                <p id="t2">From</p><input class="border rounded border-primary" type="date" name="in-datetime" required="" id="in"></td>
                            <td>
                                <p id="t2">To</p><input class="border rounded border-primary" type="date" name="in-datetime" required="" id="in"></td>
                        </tr>
                        <tr>
                            <td id="t2">Country</td>
                            <td>
                                <div class="dropdown"><button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" id="in">Dropdown </button>
                                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><button class="btn btn-primary" type="button" id="in-confirm">Confirm</button></td>
                        </tr>
                        <tr>
                            <td class="bg-white border rounded-0 border-primary" colspan="3"><img></td>
                        </tr>
                        <tr>
                            <td colspan="3"><a class="btn btn-primary" role="button" href="#" id="in-export">Export</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p></p>
        </div>
        <div class="jumbotron" id="j3">
            <h1>Column Chart</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="t2">Year</td>
                            <td colspan="2"><input class="border rounded border-primary" type="date" name="in-datetime" required="" id="in"></td>
                            <td></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td colspan="3"><button class="btn btn-primary" type="button" id="in-confirm">Confirm</button></td>
                        </tr>
                        <tr>
                            <td class="bg-white border rounded-0 border-primary" colspan="3"><img></td>
                        </tr>
                        <tr>
                            <td colspan="3"><a class="btn btn-primary" role="button" href="#" id="in-export">Export</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p></p>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-12 item text">
                        <h3>Contact Us</h3>
                        <p>Have some suggestion? Feel free to contact us!</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Climate SOL © 2019</p>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>