{% load static %} 
   <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
   <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
{% block title %}{{ title }}{% endblock title %}
  
{% block content %}
	<h1>Temperature</h1>
	<p>{{ results }}</p>
	<br>

	{% for key, values in dic.items %}
    <tr>
        <td>{{key}}</td>
        
        <td>{{values}}</td>
    </tr>

    {% endfor %}

    <div id="chart-2">{{ output2|safe }}</div>
{% endblock content %}