{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Climate</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand text-primary" href="#"><img src="{% static 'img/FocusArea__Climate.jpg' %}" id="logo">&nbsp; Climate SOL</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/app/" id="l1">Home</a></li>

                    {% if  request.session.username  == "admin" %}
                     <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/" id="l2">Admin</a></li>

                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/login/" id="l2">Login</a></li>
                    {% endif %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/charts/" id="l3">Charts</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div id="Main">
        <div class="jumbotron" id="j1">
            <h1>About Climate Change</h1>
            <p>Climate change is a rising factor in today's society and you should know about it.<br>So why not take a look at our charts about climate!</p>
            <p><a class="btn btn-primary" role="button" href="/charts/">See charts</a></p>
        </div>
    </div>
    <div class="container" id="Main1">
        <h1 class="text-center">A Rising Hazard</h1>
        <p class="text-justify">Global climate change has already had observable effects on the environment. Glaciers have shrunk, ice on rivers and lakes is breaking up earlier, plant and animal ranges have shifted and trees are flowering sooner.<br><br>Effects that scientists
            had predicted in the past would result from global climate change are now occurring: loss of sea ice, accelerated sea level rise and longer, more intense heat waves.<br><br>Because human-induced warming is superimposed on a naturally varying
            climate, the temperature rise has not been, and will not be, uniform or smooth across the country or over time.<br></p>
        <h1 class="text-center">Our Mission</h1>
        <p class="text-justify">Thus, we want you to get an insight for your problems with climate change situations.<br></p>
    </div>
    <div class="container" id="Main2">
        <h1 class="text-center text-dark">Features</h1>
        <div class="row">
            <div class="col text-center"><i class="fa fa-save"></i>
                <h2 class="text-dark">Storage</h2>
                <p>Storage for your data</p>
            </div>
            <div class="col text-center"><i class="fa fa-search"></i>
                <h2 class="text-dark">Analyze</h2>
                <p>Analytic tools</p>
            </div>
            <div class="col text-center"><i class="fa fa-pencil"></i>
                <h2 class="text-dark">Export</h2>
                <p>Export your data charts</p>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-12 item text">
                        <h3>Contact Us</h3>
                        <p>Have some suggestion? Feel free to contact us!</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Climate SOL © 2019</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>